VITE_API_BASE_URL=http://localhost:8080/api

VITE_FIREBASE_API_KEY=AIzaSyA1YAwFWIt_NNnYc2z_HxGBtIx-cyXDf1Y
VITE_FIREBASE_AUTH_DOMAIN=odoo-4116c.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=odoo-4116c
VITE_FIREBASE_APP_ID=1:442744179462:web:f1f8284621a1f220f16c87
